<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>
      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/about-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1>About Me</h1>
                <span class="subheading">This is what I do.</span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Main Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>I live and work in Hanoi. At my day job, I develop the interface of websites. In my free time, I also
              work as a freelancer. <br><br>

              Before that, I studied information technology in a university. With the ability to self-study and
              self-study, I was able to work earlier than friends in the same industry. <br>

              While my focus is mobile-first responsive websites with HTML, JavaScript , I’ve also worked with Python,
              it's really wonderful 😀 <br><br>

              Just the way you are and trust your brain!</p>
          </div>
        </div>
      </div>

      <hr>
      <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
  </body>

</html>