*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top{
    display: inline;
    display: flex;
    justify-content: space-between;
}

#logo{
    background-color: aqua;
    width: 100px;
    height: 70px;
    margin: 20px 0 0 20px;
    text-align: center;
    line-height: 70px;
}
#button{
  
    margin: 20px 20px ;
}
#button button{
    width: 60px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    margin-left: 20px;    
    align-items: center;
}
#button button:hover{
    cursor: pointer;

}
#mid{
    display: inline;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
}
#mid ul {
    display: flex;

}
#mid ul li{
    list-style: none;
    margin-left: 10px;
}
#mid ul hr{
    margin-left: 10px;
}
#navItems{
    height: 35px;
    background-color: aqua;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 200px 0 20px;
    line-height: 35px;
}
#navItems li{
    list-style: none;
}
#navItems hr{
    height: 20px;
    margin-top: 7.5px;
}

.imgItems{
    width: auto;
    height: 100px;
    background-color: aqua;
}
.imgItem{
    width: 100%;
    height: auto;
    margin-left: 5px;
    background-color: black;
}
.banner div{
    width: 95%;
    height: 60px;
    margin: 10px 20px 10px 0px;
    background-color: aqua;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
}
.bannerContact{
    margin: 20px 0px 0px 20px;
    background-color: aqua;
    text-transform: uppercase;
    text-align: center;
    height: 90px;
    line-height: 90px;

}
#footer{
    display: flex;
    justify-content: space-between;
}
#moreInfo ul{
    display: flex;
}
#moreInfo{
    margin-right: 20px;
}
#moreInfo ul li{
    list-style: none;
    margin: 0px 10px;
}
#moreInfo p{
    text-align:right ;
    padding-right: 10px;
}
#info{
    margin-left: 20px;
}
.col-md-8 h5,.col-md-8 .news{
    margin-left: 20px;
}
.col-sm-4 ul li{
    list-style: none;
}