.title {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.input-container {
    display: flex;
}

.top-container {
    padding-left: 10px;
    padding-right: 10px;
}

.text-input {
    flex-grow: 8;
    margin: 0 10px;
    padding: 0 10px;
}

.add-btn {
    flex-grow: 1;
}

.list-container {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}